/* styles.css */
#app-bar {
    background-color: #333; /* Background color for the app bar */
    color: #fff; /* Text color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#app-bar ul {
    list-style: none;
    padding: 0;
}

#app-bar ul li {
    display: inline;
    margin-right: 20px;
}

#app-bar a {
    text-decoration: none;
    color: #fff;
}

#search-bar {
    display: flex;
}

#search-bar input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#search-bar button {
    background-color: #007acc; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

#about-us {
    background-color: burlywood;
}

#about-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: oblique;
    text-align: left;
    color: brown;
}

#about-image {
    box-align: margin-right;
    size: 100px;
}

body
{
    background-color: aquamarine;
}